<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form #basicForm="ngForm" (ngSubmit)="loginUser(basicForm.value)">
    <input type="text" name="firstname" #fn placeholder="enter your first name " ngModel><br><br>
    <input type="text" name="lastname" #ln placeholder="enter your last name " ngModel> <br><br>
    <input type="email" name="email" #em placeholder="enter your email id" ngModel><br><br>
    <input type="password" name="password" #pd placeholder="enter your password" ngModel><br><br>
    <button>register</button>
  </form>
  <p>firstName:{{userData.firstname}}</p>
  <p>lastName:{{userData.lastname}}</p>
  <p>email:{{userData.email}}</p>
  <p>password:{{userData.password}}</p>
</body>
</html>